<div class="container-fluid container-top">
    <div class="page_adv">
        <img src="../../assets/images/cosmeticsBanner3.jpg" alt="Cosmetics">
        
    </div>
</div>
<div class="container-fluid container-bottom">
    <div class="row">
        <div class=" col random">Gaurav</div>
        <div class=" col random">Gaurav</div>
        <div class=" col random">Gaurav</div>
        <div class=" col random">Gaurav</div>
    </div>
    <div class="random">Gaurav Patel</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
</div>
<button (click)="selectOne()">Start</button>