<div class="container-fluid container-top">
    <div class="row container-top-in">
        <div class="header-main-left col">
            <div class="header-main-left-header">Clear your closet,<br> fill your wallet: our sale is on!</div>
            <hr class="head1">
            <div class="row flex-container" style="margin-left:5vw; margin-right: 5vw;">
                <div class="col semi-box" id="cf4a">
                    <!-- <img src="../../assets/images/cosmetics_2.png" alt="logo"> -->
                    <a routerLink="/app/cosmetics" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <img src="../../assets/videos/vid1.1.gif" alt="Cosmetics">
                    </a>
                </div>
                <div class="col semi-box">
                    <!-- <img src="../../assets/images/cosmetics_2.png" alt="logo"> -->
                    <a routerLink="/app/electronics" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <img src="../../assets/videos/vid2.gif" alt="Electronics">
                    </a>
                </div>
                <div class="col semi-box">
                    <!-- <img src="../../assets/images/cosmetics_2.png" alt="logo"> -->
                    <a routerLink="/app/arts" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <img src="../../assets/videos/vid3.gif" alt="Conceptual Arts">
                    </a>    
                </div>
            </div>
            
        </div>
        <div class="header-main-right col">
            <div class="video">
                <img src="../../assets/videos/vid8.gif"/>
                </div>
            <hr class="head1">
            <h2 style="text-align: center;">Sale is Live!</h2>

        </div>
    </div>
</div>
<div class="container-fluid container-bottom">
    <div class="row">
        <div class=" col random">Gaurav Verma</div>
        <div class=" col random">Gaurav</div>
        <div class=" col random">Gaurav</div>
        <div class=" col random">Gaurav</div>
    </div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
</div>
