
<div class="container-fluid container-top">
    <div class="container-top-header">
        <a routerLink="/app/arts" routerLinkActive="active" ariaCurrentWhenActive="page">Stalin</a>
        <a routerLink="/app/arts" routerLinkActive="active" ariaCurrentWhenActive="page">Stalin</a>
        <a routerLink="/app/arts" routerLinkActive="active" ariaCurrentWhenActive="page">Stalin</a>
        <a routerLink="/app/arts" routerLinkActive="active" ariaCurrentWhenActive="page">Stalin</a>
    </div>
    <div class="row container-top-in">
        <div class="header-main-left col">
            <div class="header-main-left-in row">
                <div class="header-main-left-in-left col">
                    <img src="../../assets/images/Art/sample1.png" alt="">
                </div>
                <div class="header-main-left-in-right col">
                    <img src="../../assets/images/Art/sample2.png" alt="Electronics">
                </div>
            </div>
        </div>
        <div class="header-main-right col container">
            <h1>Fresh Arrivals</h1>
            <h2>Experience the thrill of the unknown with our fresh collection of original, one-of-a-kind paintings</h2>
                <a href="#" class="btn btn-red btn-animate bottom-right">Shop Now!</a>
            </div>
    </div>
</div>
<div class="container-fluid container-bottom">
    <div class="row">
        <div class="col">
            <app-cosmetics-single></app-cosmetics-single>
        </div>
        <div class="col">
            <app-cosmetics-single></app-cosmetics-single>
        </div>
    
    </div>
    
    <div class="random">Gaurav Patel</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
</div>