<!-- <div class="card">
    gaurav
    <div class="flipper">
        <div class="view overlay front">
            <img class="card-img-top" src="../../../assets/images/Art/art5.png" alt="Card image cap">
        </div>
        <div class="view overlay back">
            <button class="card-img-top">Gaurav</button>
        </div>
    </div>
</div> -->

<div class="card mb-4">
    <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.webp" alt="Card image cap" />
        <button class="btn"><i class="fa-thin fa-heart"></i></button>
    </div>
    <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of
            the card's content Task Master
            image flipper code
        </p>
        
        <div class="position-relative bottom-10 end-0">
            <button type="button" class="btn btn-light-blue btn-md">Read more</button>
        </div>
    </div>
</div>