
<div class="container-fluid container-top">
    <div class="cosmetics_adv">
        
    </div>
</div>
<div class="container-fluid container-bottom">
    <div class="row">
        <app-flipper class="col"></app-flipper>
        <app-flipper class="col"></app-flipper>
        <app-flipper class="col"></app-flipper>
        <app-flipper class="col"></app-flipper>
    </div>
    
    <!-- <div class="random">Gaurav Patel</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div>
    <div class="random">Gaurav</div> -->
</div>