/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: primary-md;
    src: url(assets/fonts/Poppins-Medium.ttf) format("opentype");
}
@font-face {
    font-family: primary-regular;
    src: url(assets/fonts/Poppins-Regular.ttf) format("opentype");
}
@font-face {
    font-family: primary-bold;
    src: url(assets/fonts/Poppins-Bold.ttf) format("opentype");
}
@font-face {
    font-family: secondry-md;
    src: url(assets/fonts/ZillaSlab-Medium.ttf) format("opentype");
}
@font-face {
    font-family: secondry-regular;
    src: url(assets/fonts/ZillaSlab-Regular.ttf) format("opentype");
}
@font-face {
    font-family: secondry-bold;
    src: url(assets/fonts/ZillaSlab-Bold.ttf) format("opentype");
}
@font-face {
    font-family: special-one;
    src: url(assets/fonts/Gellatio-Regular.ttf) format("opentype");
}
@font-face {
    font-family: special-two;
    src: url(assets/fonts/DancingScript-Medium.ttf) format("opentype");
}
@font-face {
    font-family: special-two-regular;
    src: url(assets/fonts/DancingScript-Regular.ttf) format("opentype");
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'primary-regular', 'secondry-regular',sans-serif;
}

/* ------------------------------------------------------------------------Buttons-------------------------------------------------------------- */
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}
.btn-red {
    background-color:#da1519;
    color: rgb(202, 239, 90);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}
.btn-red::after{
    background-color: #f64043;
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}